{% extends "survey_parent_layout.html" %}

{% block body %}
<h4> Which Gryffindor characteristics do you possess? Check all that apply. </h4>
  <input type="checkbox" name="Gtrait1" value="Brave"> Brave <br>
  <input type="checkbox" name="Gtrait2" value="Independent"> Independent <br>
    <input type="checkbox" name="Gtrait3" value="Defend"> Quick to defend what you believe in <br>
    <input type="checkbox" name="Gtrait4" value="Reckless"> Reckless <br>
    <input type="checkbox" name="Gtrait5" value="Arrogant"> Arrogant <br>
<input type="submit" value="Continue">
{% endblock %}
