{% extends "survey_parent_layout.html" %}

{% block body %}
<h4> Which Hufflepuff characteristics do you possess? Check all that apply. </h4>
  <input type="checkbox" name="Htrait1" value="Loyalty"> Loyalty <br>
  <input type="checkbox" name="Htrait2" value="Kind"> Kind <br>
    <input type="checkbox" name="Htrait3" value="Sociable"> Social and people-oriented <br>
    <input type="checkbox" name="Htrait4" value="Passive"> Passive <br>
    <input type="checkbox" name="Htrait5" value="Lonely"> Scared of being alone <br>
<input type="submit" value="Continue">
{% endblock %}
