{% extends "survey_parent_layout.html" %}
{% block body %}
<h4> Which Ravenclaw characteristics do you possess? Check all that apply. </h4>
  <input type="checkbox" name="Rtrait1" value="Creative"> Creative <br>
  <input type="checkbox" name="Rtrait2" value="Witty"> Witty <br>
    <input type="checkbox" name="Rtrait3" value="Passionate"> Passionate <br>
    <input type="checkbox" name="Rtrait4" value="Antisocial"> Antisocial <br>
    <input type="checkbox" name="Rtrait5" value="Arrogant"> Arrogant <br>
<input type="submit" value="Continue">
{% endblock %}
