<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h1> Should you disclose your Harry Potter obsession?   </h1>

<body>


<form action="/disclosing/results">
   <h2> Who are you considering disclosing to? </h2> <select name = "person">
            <option name="person1" value="Close">Someone close to me</option>
            <option name="person2" value="NotClose">Someone not close to me</option>

    </select>

    <br>
    <br>
    <br>

<h2> Check any of the following that you agree with. </h2>
  <input type="checkbox" name="reason1" value="Support"> I want them to support my obsession.<br>
  <input type="checkbox" name="reason2" value="Honesty"> I want to be honest about my obsession. <br>
    <input type ="checkbox" name="reason3" value="Logistics">I feel obligated to logistically disclose this information (for work, legal purposes, etc.). <br>
    <input type="submit" value="Continue"><br>
</form>

</body>
</html>