<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h1> Should you disclose your Harry Potter obsession?   </h1>
<h2> Check any of the following that you agree with. </h2>
<body>
<form action="/disclosing/results/">
  <input type="checkbox" name="reason1" value="Support"> I want them to support my obsession.<br>
  <input type="checkbox" name="reason2" value="Honesty"> I want to be honest about my obsession. <br>
    <input type ="checkbox" name="reason3" value="Second Chance">My obsession previously ruined our relationship and I would like to rekindle it. <br>
    <input type="checkbox" name="reason4" value="None">None of the above. <br>
    <input type="submit" value="Continue"><br>
</form>

</body>
</html>