{% extends "survey_parent_layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
<h4> Which Slytherin characteristics do you possess? Check all that apply. </h4>
  <input type="checkbox" name="Strait1" value="Ambitious"> Ambitious <br>
  <input type="checkbox" name="Strait2" value="Perseverant"> Perseverant <br>
    <input type="checkbox" name="Strait3" value="Opportunistic"> Opportunistic <br>
    <input type="checkbox" name=Strait4" value="Manipulative"> Manipulative <br>
    <input type="checkbox" name="Strait5" value="Selfish"> Selfish <br>
<input type="submit" value="Continue">
{% endblock %}
</body>
</html>
</form>