{% extends "parent_layout.html" %}
{% block header %}
<h3> Welcome to the Sorting Ceremony  </h3>
    <img src="/static/sorting_hat.png" style="width:250px;height:300px;"/>
<p>What house are you in? </p>
{% endblock %}

{% block body%}
<form action="/save/house/">
    <select name = "houses">
        <option value="Gryffindor">Gryffindor</option>
            <option value="Hufflepuff">Hufflepuff</option>
            <option value="Ravenclaw">Ravenclaw</option>
            <option value="Slytherin">Slytherin</option>
    </select>
    <input type="submit" value="Submit"><br>
</form>
{% endblock %}
